* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}
header {
    background-color:hsla(240, 75%, 30%, 0.9);
    z-index: 100;
    top: 0;
    width:100%;
    height: 100px;
    position: fixed;
    text-align: center;
    font-size: 1.5rem;
    color: hsl(0, 0%, 90%);
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.14),0 4px 8px hsla(0, 0%, 0%, 0.28);
}
#content {
    margin: 105px 5px 60px 5px;
    z-index: 50;
    display: flex;
    flex-direction: column;
}
#imgstt {
  width: 30%;
  align-self: center;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: hsl(55, 100%, 82%)
}
#temp, #details {
  text-indent: 50px;
}
footer {
    background-color:hsla(240, 75%, 30%, 0.90);
    z-index: 100;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    text-align: center;
    font-size: 0.8rem;
    color: hsl(0, 0%, 85%);
    box-shadow: 0 -4px 8px hsla(0, 0%, 0%, 0.14),0 -4px 8px hsla(0, 0%, 0%, 0.28);
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}